@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    word-break: balance;
  }
}



@font-face {
  font-family: regularfont;
  src: url('fonts/Satoshi-Regular.eot');
  src: url('fonts/Satoshi-Regular.ttf');
  src: url('fonts/Satoshi-Regular.woff');
  src: url('fonts/Satoshi-Regular.woff2');

}

@font-face {
  font-family: boldfont;
  src: url('fonts/Satoshi-Bold.eot');
  src: url('fonts/Satoshi-Bold.ttf');
  src: url('fonts/Satoshi-Bold.woff');
  src: url('fonts/Satoshi-Bold.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
  font-family: regularfont !important;
  background-color: #121212;
}

.main {
  font-family: boldfont !important;
}

.fade {
  font-family: "Ubuntu", sans-serif !important;
  font-optical-sizing: auto !important;
}