@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    word-break: balance;
  }
}

@font-face {
  font-family: regularfont;
  src: url('fonts/Satoshi-Regular.eot');
  src: url('fonts/Satoshi-Regular.ttf');
  src: url('fonts/Satoshi-Regular.woff');
  src: url('fonts/Satoshi-Regular.woff2');

}

@font-face {
  font-family: boldfont;
  src: url('fonts/Satoshi-Bold.eot');
  src: url('fonts/Satoshi-Bold.ttf');
  src: url('fonts/Satoshi-Bold.woff');
  src: url('fonts/Satoshi-Bold.woff2');
}



* {
  font-family: regularfont !important;
  background-color: #121212;
}

.main {
  font-family: boldfont !important;
}